/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container-fluid{
	max-width: 100%;

}
.container{
	position: relative;
	top:0;
	left:50%;
	transform:translateX(-50%);
	align-items: center;
	width: 80%;
	background-color:white;
}

.row{
	display: flex;
	align-items: center;
	width: 100%;
	gap: 5px;
}
.col{
	width: 100%;
	align-items: center;
}
.topo{
	background-color: white;
	border-bottom: 50px rgb(109, 24, 102) solid;
}
.brand {
	display: flex;
	font-size: 25px;
	font-weight: bold;
	color:rgb(63, 61, 61);
	text-decoration: none;
	margin-top: 35px;
	margin-left: 25px;
}
.brand .logo{
	width: 50px;
	height: auto;
}
.menuleft{
	background-color: rgb(253, 248, 248);
	border-radius: 8px;
	border: 1px solid rgb(238, 233, 233);
	box-shadow: 0 0 1px  black;
	margin: 0 0;
	position: absolute;
	top: 100px;
	left: 30px;
	width: 250px;
}

.menu{
	padding: 10px 25px;
}
ul li {
	margin: 10px 0;
}
ul li a{
	text-decoration: none;
	color: black;
}

.content{
	width: 70%;
	margin-left: 45px;
	padding: 25px;
	position: absolute;
	top: 100px;
	background-color: rgb(253, 248, 248);
	border-radius: 8px;
	border: 1px solid rgb(238, 233, 233);
	box-shadow: 0 0 1px  black;
}
.titulo{
	font-size: 22px;
	font-weight: bold;
	margin: 15px 0;
	padding-left: 5px;
	border-bottom: 2px dotted  silver;
	position: relative;
	top: 0;
	left: 0;
}
.titulo:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 25px;
	border-left: 2px dotted silver;
	//background-color: silver;
}
/*tamanho das colunas */
.col-3{
	width: 350px;
}



.bg-amarelo{
	background-color: yellow;
}

@media (max-width: 900px){
	.container{
		width: 100%;
	}
	.menuleft {
		display: none;
	}
	.content{
		left:0;
	}
}